.Audio-Upper-Box {
    display: flex;
    justify-content: space-between;


}
.Logo-Box {
    background-color:red;
}
.Menu-Box {
    display: flex;
}

.Menu-Box p {
    /* target the menubox + target all the p elements inside */
    margin: 3px
}


.Up-Image {
    width: 5rem;
}
.Sub {
    background-color: grey;
    width: 4rem;
    padding: 5px;
    color: white;   
}
.Asset {
    width: 100%;
}

.DaImages {
    display: flex;
    /* General explanation: The below two lines
    will make the elements slide inside the div */
    overflow:auto;
    width:100%;
    /* Specific explanation: give the element that has this class 
    the ability to have a fixed width
    while letting everything inside it slide
    either horizontally or vertically */
}

/* .singleShowImage {
    width:12.5rem;
} */

/* Media box styles below */

.MediaBox {
    background-color: lightgray;
    margin-top:2rem;
    margin-bottom:2rem;
}

.mediabox2 {
    /* Add the image below as the background of this element */
    background-image:url("./assets/mediaboximage.jpeg");
    background-size: contain;
    background-size:100% 100%;
    /*  */
    height:35rem;
    /*  */
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    /*  */

}

.mediabox2 h1{
 font-size:3rem;
 color:white;
 margin-top:-2rem;
}

.mediabox2 p {
    font-size:1.3rem;
    line-height: 2rem;
    color:white;
    padding:2rem;
}

/* Adweek box styles below */


.AdWeek {
    background-color: black;
    /* flex-direction: column */
    background-size: contain;
    display: flex;
    
    
}