.Audio-Upper-Box {
    display: flex;
    justify-content: space-between;


}
.Logo-Box {
    background-color:red;
}
.Menu-Box {
    display: flex;
}

.Menu-Box p {
    /* target the menubox + target all the p elements inside */
    margin: 3px
}


.Up-Image {
    width: 5rem;
}
.Sub {
    background-color: grey;
    width: 4rem;
    padding: 5px;
    color: white;   
}
